body {
    background-color: #000;
    color: aliceblue;
}

.items li {
    display: flex;
    justify-content: space-between;
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px 20px;
    font-weight: 700;

}

